body {
    background-color: rgb(95, 126, 95);
}
.logo {
    height:80px;
   /* display: flex; */
display: block;
margin-left: auto;
margin-right: auto;
background-color: rgb(95, 126, 95);
}
h1 {
    text-align: center;
    color: goldenrod;
}
p {
    background-color:rgba(0,0,0,.3);
    font-weight: bolder;
    font-size: xx-large;
    color: goldenrod;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    
}
li {
    display: inline;
    padding: 8%;
    font-weight: bolder;
    font-size: xx-large;
    color: goldenrod;}
    a:hover {
        color:black;
        cursor: pointer;
    }
    nav {
        border-bottom: 1px solid black;
    }
    .container {
        position: relative;
        text-align: center;
    }
    .aboutpic {
        size: 100%;
    }
    a {
        color: goldenrod;
        text-decoration: none;
    }
    @media screen and (max-width:970px) {
        .column {
            flex: 100%;
            padding: 5px; 
              
      }
      li {
          font-size: large;
      }
      .logo {
    height: 100px;
      }
      .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      } 
    p {
        font-size: large;
    }
    .aboutpic {
        width: auto;
    }
    #aboutImg {
        height: 450px;
    }
    }